<div class="container">
    <div class="page-header">
        <h1>Find shelters:</h1>
        <form class="form-inline" action="/shelters" method="POST">
            <div class="form-group">
                <label for="shelter-location">Location:</label>
                <input type="text" name="location" class="form-control" id="shelter-location" placeholder="Location" required>
            </div>
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    </div>
    <div>
        {{#each shelters as |s|}}
        <li>
            <address>
                <a href="/shelters/{{s.id}}"><strong>{{s.name}}</strong></a><br>
                {{s.city}}, {{s.state}} {{s.zip}}<br>
                {{#if s.phone}}
                <abbr title="Phone">P:</abbr> {{s.phone}}
                {{/if}}
                {{#if s.email}}
                <a href="mailto:{{s.email}}">{{s.email}}</a>
                {{/if}}
            </address>
        </li>
        {{/each}}
    </div>
</div>