<div class="container">
    <div class="page-header">
        <h1>List of adoptable pets at {{shelter}}</h1>
    </div>
    {{#each pets as |pet|}}
    <li class="list-group-item">
        <a href="/pets/{{pet.id}}" class="thumbnail clearfix">
            <img class="pull-left" src="{{pet.profilePicture}}" alt="{{pet.name}}">
            <div class="caption">
                <h4>{{pet.name}}</h4>
            </div>
        </a>
        <p>{{pet.age}} | {{pet.sex}} | {{pet.size}}</p>
    </li>
    {{/each}}
</div>