<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Meet {{pet.name}}!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="photosCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="carouselPhoto" src="{{pet.profilePicture}}">
                    </div>
                    {{#each pet.photos as |photo|}}
                    <div class="item">
                        <img class="carouselPhoto" src="{{photo.$t}}">
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>About {{pet.name}}</h4>
            <p>{{pet.description}}</p>
            <h4>Report Card:</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Breed(s)</td>
                            <td>
                                {{#each pet.breeds as |breed|}}
                                    <p>{{breed}}</p>
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <td>Option(s)</td>
                            <td>
                                {{#each pet.options as |option|}}
                                    <p>{{option}}</p>
                                {{/each}}
                            </td>
                    </tbody>
                </table>
            </div>
            <p>Last update was on {{pet.lastUpdate}}</p>
        </div>
    </div>
</div>